# Archivos de compilación
build/
dist/

# Archivos de prueba
tests/

# Archivos de documentación
docs/

# Archivos de logs
logs/

# Archivos de IDE
.vscode/
.pydevproject

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de dependencias
venv/
env/
requirements.txt

# Archivos de cache
__pycache__/
.cache/

# Archivos de Python
*.pyc
*.pyo
*.pyd

# Archivos de IPython
.ipynb_checkpoints/